.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;

    &__single {
        width: 330px;
        height: 474px;
        position: relative;

        &:hover .cards__count {
            color: red;
        }

        &:hover .cards__btn {
            display: unset;
        }
    }

    &__item {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 330px;
        border-radius: 8px;
        transition: all ease 0.5s;
        cursor: pointer;

        &:hover {
            box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
            z-index: 10000;
        }
    }

    &__label {
        @include br(4px);

        background: #64bd38;
        margin-left: 16px;
        width: 38px;
        height: 20px;
        padding: 4px;
        color: #fff;
    }

    &__info {
        padding: 16px;
    }

    &__btn {
        display: none;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        background: #2a81dd;
        height: 44px;
        border: none;
        color: white;
        box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
        border-radius: 8px;
        cursor: pointer;
    }

    &__title {
        font-size: 16px;
        line-height: 24px;
        color: #1c1819;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__count {
        font-size: 24px;
        line-height: 36px;
        color: #2a81dd;
        padding-bottom: 8px;
    }

    &__size {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 16px;
        color: #888b94;
    }
}
